nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    margin-right: 200px;
}
nav img{
    width:48px;
    height: 56px;
    margin-left: 200px;
    margin-top: 35px;
}
nav>ul{
    display: flex;
  
}
nav li{
    list-style: none;
    margin-right: 20px;
}

.background-img-section{
    background-image: url('/Images/banner.png');
    text-align: center;
    color:aliceblue ;
    margin-bottom: 30px;
    width:1180px;
    height: 500px;
    padding-top: 50px;
}
.popular-section{
    display: flex;
    justify-content: space-evenly;
}
.img{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.destination-section{
    text-align: center;
}
.destination-img-container{
    display: grid;
}




@media screen and (max-width:576px){
    nav,
    .background-input-section
    {
        display: flex;
        flex-direction: column;
    }
    .popular-section{
        flex-direction: column-reverse;
    }
    .destination-img-container{

    }
    
}




