nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    margin-right: 200px;
}
nav img{
    width:48px;
    height: 56px;
    margin-left: 200px;
    margin-top: 35px;
}
nav>ul{
    display: flex;
  
}
nav li{
    list-style: none;
    margin-right: 20px;
}

.background-img-section{
    background-image: url('/Images/banner.png');
    text-align: center;
    color:aliceblue ;
    margin-bottom: 30px;
    width:1180px;
    height: 500px;
    padding-top: 50px;
}
.popular-section{
    display: flex;
    justify-content: space-evenly;
}
.container{
    width: 1300px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(2,3fr)  1fr;
}
.photo{
    width: 400px;
    height: 300px;   
}
.photo img{
    width:380px;
    height: 280px;
}


.destination-section{
    text-align: center;
}
.destination-section{
    display: grid;
}

.choose-container{
    width: 1200px;
    height: 300px;
    border: 1px solid lightgrey;
    display: grid;
  grid-template-columns: repeat(1,2fr) 1fr;
   gap: 20px;
   padding-left: 10px;
}
.element{
    width: 580px;
    height: 284px;
    border: 1px solid lightblue;
}
.choose-container img{
width: 20%;
height: 20%;
}


.choose-section{
    display: flex;
    flex-direction: column;
}
.choose-section img{
 width: 20%;
}
.box{
    width:570px;
    height: 280px;
}
h3{
    text-align: center;
}
P{
    text-align: center;
}
.newsletter-section{
    width: 1200px;
    height: 600px;
    border:1px solid lightseagreen;
    display: flex;
    padding-top: 100px;
}
.newsletter{
    width: 580px;
    height: 580px;
    border: 1px solid lightskyblue;
    padding-left: 15px;
    margin-bottom: 20px;
}
.newsletter img{
    width:595px;
    height:560px;
}
.newsletter input{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}


.news-image{
    margin-left: 10px;
}


.icons{
    align-items: center;
    position: relative;
    left:580px;
}





@media screen and (max-width: 576px) {
    .nav-section,
    .background-img-section
    {
        flex-direction: column;
    }
    .container{
        grid-template-columns: repeat(1,1fr);
    }
    .choose-container{
        grid-template-columns: repeat(1,1fr);
    }
    .newsletter-section{
        flex-direction: column;
    }
    .icons{
        position: relative;
      
    }
    .destination-section{
        h3{
            text-align: left;
        }
        P{
            text-align: left;
        }
    }
    .background-img-section{
        h3{
            text-align: left;
        }
        p{
            text-align: left;
        }
        .popular-section-one{
            h3{
                text-align: left; 
            }
           p{
            text-align: left; 
           } 
        }
    }
    
    
        
    
}
